@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.label {
    font-size: 14px;
}

.inputContainer {
    margin-top: 5px;
    &.success .message {
        color: $ms-color-teal;
    }
    &.error .message {
        color: $ms-color-redDark;
    }
    &.loading .message {
        color: #888;
    }

    label {
        margin-right: 2px !important;
    }
}


.siteInput {
    padding: 5px;
    overflow-x: scroll;
}


.message {
    font-size: 12px;
    // text-align: center;
}